{% layout 'layout.liquid' %}
{% block content %}
  <div class="error-card">
    <h2>I'm Sorry!</h2>
    <p>There seems to be something wrong with the flight_mumber!</p>
    <p>Try again!</p>
    <a class="btn btn-primary" href="/tracker" role="button">Try again</a>
  </div>
{% endblock %}