{% layout 'layout.liquid' %}
{% block content %}
<!-- If the client is logged in, the client's username will display in the hero -->
    {% if loggedIn %}
    <div class="hero">
        <!--
        <img src="https://samchui.com/wp-content/uploads/2018/07/airbus-a350-xwb-4k-passenger-plane-qantas-airlines-airbus-a350.jpg" alt="">
        -->
        <h1 class="hero-welcome">Welcome to Flight Tracker, {{username}}! </h1>
            <p class="hero-info">Track a flight!</p>
            <a class="home-track-btn" href="/tracker/">Track</a>
    </div>
    {%else%}
    <h1 class="hero-welcome">Welcome to Flight Tracker </h1>
    {%endif%}
{% endblock %}
