{% layout 'layout.liquid' %}
{% block content %}
<!-- If the client is logged in, the client's username will display in the hero -->
    {% if loggedIn %}
    <div class="hero">
        <h1 class="hero-welcome">Welcome to Flight Tracker, {{username}}! </h1>
            <p class="hero-info">Track a flight!</p>
            <a class="home-track-btn" href="/tracker/">Track</a>
    </div>
    {%else%}
    <h1 class="hero-welcome">Welcome to Flight Tracker </h1>
    {%endif%}
{% endblock %}
