{% layout 'layout.liquid' %}
{% block content %}
    {% if loggedIn %}
    <h1 class="display-4">Welcome to Flight Tracker, {{username}}! </h1>
    {%else%}
    <h1 class="display-4">Welcome to Flight Tracker </h1>
    {%endif%}
{% endblock %}
