{% layout 'layout.liquid' %}
{% block content %}
  <h2>Favoriters Posts</h2>
  <div class="row">
    {% for plane in planes %}
      <div class="card" style="width: 18rem">
        <h5 class="card-hedaer"> {{plane.manufacturer}} </h5>
        <div class="cardbody">
          <p class="card-text">
            {{forum.content}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}