{% block content %}
  <div class="card mb-4 shadow">
    <div class="card-body">
      <h5>{{ comm.author.username }}</h5>
      <div class="d-flex justify-content-between">
        <small>{{ comm.note }}</small>
        {% if comm.author == userId %}
            <form action="/comments/delete/{{forum.id}}/{{comm.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="x">
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
