{% layout 'layout.liquid' %}
{% block content %}
<div class="user-forms">
    <form action="/users/login" method="POST">
         <fieldset>
             <legend>Welcome Back!</legend>
             <label class="form-label">Username</label>
             <input type="text" name="username" placeholder="username" class="user-control" required>
             <label class="form-label">Password</label>
             <input type="password" name="password" placeholder="enter password" class="user-control" required>
        </fieldset>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>
</div>
{% endblock %}
