{% layout 'layout.liquid' %}
{% block content %}
<div class="user-forms">
    <form action="/users/signup" method="POST">
         <fieldset>
             <legend>Create New User</legend>
             <label class="form-label">Username</label>
             <input type="text" name="username" placeholder="username" class="user-control" required>
             <label class="form-label">Password</label>
             <input type="password" name="password" placeholder="enter password" class="user-control" required>
        </fieldset>
        <input type="submit" value="Create Account" class="btn btn-success">
    </form>
</div>
{% endblock %}
